
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card-header {
  font-size:18px;
  margin:0px;
  padding:2px;
  
}

.card-title {
  font-size:15px;
  margin:1px;
  padding:1px;
 
}

.card-body {
  font-size:14px;
  margin:1px;
  padding:1px;
}



#bank{
  margin:20px;
  padding:20px;
  color:white;
}
nav{
  display:block;
  content:center;
  position:absolute;
}
nav .nav-item{
  display:flex;
  justify-content:space-around;
  width:34%;
  margin-right:5px;
  margin-left:120px;
  margin-bottom:2px;
  padding-bottom:15px;
  padding-top:10px;
  padding-right:10px;
  text-align:center;
  font-size: 10px;
  font-weight: bold;
  cursor: progress;
  content:center;
  
}

th {
  width: auto;
  text-align: left;
  border: 1px solid blue;
  color:darkolivegreen;
}
td {
  width: auto;
  text-align: left;
  border: 1px solid green;
  color: white;
}





 
 

